{% extends 'base.html' %}

{% block title %}
    Gene Description
{% endblock %}

{% block bokeh_css %}
    <link href=”http://cdn.pydata.org/bokeh/release/bokeh-2.3.3.min.css" rel=”stylesheet” type=”text/css”>
    <link href=”http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.3.3.min.css" rel=”stylesheet” type=”text/css”>
{% endblock %}

{% block description_css %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}


{% block content %}
    <div class="w3-row w3-padding-64">

        <div class="w3-twothird w3-container">
            <div class="container">
                {{ div| safe }}
            </div>
            <h1 class="w3-text-teal" style="color: #444444 !important">Description</h1>
            {% if searched %}
                    <br>
                <div>
                    {% for node_description in node_descriptions %}
                        <p>这里列出上面自我中心网的全部基因列表</p>
                    {% endfor %}
                    <a href="{% url 'download_file' %}">Download</a>
                </div>
                </p>
                <div class="container" style="overflow-x:auto;">
                    <table class="table table-striped">
                        <thread>
                            <tr>
                                <th>Gene</th>
                                <th>Indegree</th>
                                <th>Outdegree</th>
                                <th>Degree</th>
                                <th>Node Type</th>
                                <th>Node Class(PPI)</th>
                                <th>Essential gene</th>
                                <th>Mouse</th>
                                <th>Fish</th>
                                <th>Fly</th>
                                <th>Worm</th>
                                <th>Yeast</th>
                                <th>Signaling proteins</th>
                                <th>Membrane Receptors</th>
                                <th>Kinases</th>
                                <th>Transcription Factors</th>
                                <th>High Copy Number</th>
                                <th>Moderate Copy Number</th>
                                <th>Low Copy Number</th>
                                <th>Very Low Copy Number</th>
                                <th>Acetylation</th>
                                <th>Phosphorylation (pS/pT)</th>
                                <th>Phosphorylation (pY)</th>
                                <th>Ubiquitination</th>
                                <th>Cancer driver genes</th>
                                <th>Cancer I</th>
                                <th>OMIM</th>
                                <th>HIV (RNAi)</th>
                                <th>HIV (PPI)</th>
                                <th>All Viruses</th>
                                <th>Therapeutic</th>
                                <th>FDA approved</th>
                                <th>Druggable</th>
                                <th>GO Genes</th>
                                <th>STOP Genes</th>
                                <th>coreCTL_genes</th>
                                <th>CAR_genes</th>
                                <th>checkpoint_genes</th>
                            </tr>
                        </thread>
                        <tbody>
                        {% if d %}
                            {% for i in d %}
                                <tr>
                                    <td>{{ i.Gene }}</td>
                                    <td>{{ i.Indegree }}</td>
                                    <td>{{ i.Outdegree }}</td>
                                    <td>{{ i.NodeType }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ i }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>Please type in...</p>
            {% endif %}
        </div>

        <div class="w3-third w3-container">
            <h1 class="w3-text-teal" style="color: #444444 !important;">Network Analysis</h1>
        </div>

    </div>

{% endblock %}

{% block bokeh_js %}
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.3.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.3.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.3.3.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.3.3.min.js"></script>
    {{ script| safe }}
    <script src="https://lib.baomitu.com/jquery/3.6.0/jquery.min.js"></script>

{% endblock %}