{% extends 'base.html' %}

{# 页面标题 #}
{% block title %}
    BCLA_homepage
{% endblock %}

{# 页面内容 #}
{% block content %}
    <form method=POST action="{% url 'node_description' %}">
        <label>
            {% csrf_token %}
            <input type="search" name="searched">
        </label>
        <button type="submit">Search</button>
    </form>

    <a href="{% url 'all_node' %}">
        <p>Show the all</p>
    </a>
    {% for name in node_list %}
        <a href="{% url 'node_description' %}">
            <p>{{ name }}</p>
        </a>
    {% endfor %}
{% endblock %}



